In [1]:
import numpy as np
import pandas as pd
import csv, json
import utils
import re

In [25]:
with open("databrokerswatch-03-07-2023.csv") as f:
    databrokers_df = pd.read_csv(f)
databrokers_df["Domain"] = databrokers_df["Domain"].shift(-1)

In [26]:
databrokers_df.columns

Index(['Domain', 'Emails', 'Company Name', 'Privacy Policy URL',
       'Credit Bureau', 'Phone Numbers', 'Address', 'Health',
       'Company Legal Name', 'Company Domain', 'Company Domain Aliases',
       'Company Url', 'Company Site Phone Numbers',
       'Company Site Email Addresses', 'Company Category Sector',
       'Company Category Industry Group', 'Company Category Industry',
       'Company Category Sub Industry', 'Company Category Sic Code',
       'Company Category Naics Code', 'Company Tags', 'Company Description',
       'Company Founded Year', 'Company Location', 'Company Time Zone',
       'Company Utc Offset', 'Company Geo Street Number',
       'Company Geo Street Name', 'Company Geo Sub Premise',
       'Company Geo City', 'Company Geo Postal Code', 'Company Geo State',
       'Company Geo State Code', 'Company Geo Country',
       'Company Geo Country Code', 'Company Geo Lat', 'Company Geo Lng',
       'Company Logo', 'Company Facebook Handle', 'Company Linkedin Handle',
       'Company Twitter Handle', 'Company Twitter Id', 'Company Twitter Bio',
       'Company Twitter Followers', 'Company Twitter Following',
       'Company Twitter Location', 'Company Twitter Site',
       'Company Twitter Avatar', 'Company Crunchbase Handle', 'Company Type',
       'Company Ticker', 'Company Identifiers Us Ein', 'Company Phone',
       'Company Metrics Alexa Us Rank', 'Company Metrics Alexa Global Rank',
       'Company Metrics Employees', 'Company Metrics Employees Range',
       'Company Metrics Market Cap', 'Company Metrics Raised',
       'Company Metrics Annual Revenue',
       'Company Metrics Estimated Annual Revenue',
       'Company Metrics Fiscal Year End', 'Company Tech',
       'Company Parent Domain', 'YDR URL'],
      dtype='object')

In [27]:
databrokers_df["Company Geo Country Code"]

0       US
1       US
2       US
3       US
4       US
      ...
900    NaN
901    NaN
902    NaN
903    NaN
904    NaN
Name: Company Geo Country Code, Length: 905, dtype: object

In [28]:
eu_countries = utils.get_eu_names()
eu_countries_set = set(eu_countries[:,0].flatten())

eu_names_re = "|".join(eu_countries[:,0])
eu_codes = set(eu_countries[:,1])

In [29]:
def filter_brokers(row):
    countrycode = row["Company Geo Country Code"]
    countryname = row["Company Geo Country"]
    comploc = row["Company Location"]
    if not type(countryname) == float and re.search(eu_names_re, countryname):
        return True
    if not type(comploc) == float and re.search(eu_names_re, comploc):
        return True
    if type(countrycode) == float:
        return False
    return True if countrycode in eu_codes else False


eu_brokers = databrokers_df[databrokers_df.apply(filter_brokers, axis=1)]

In [30]:
eu_brokers[["Company Name", "Company Geo Country", "Company Geo Country Code", 'Domain', 'Company Location', "Company Url"]]

,Company Name,Company Geo Country,Company Geo Country Code,Domain,Company Location,Company Url
10,Accenture,Ireland,IE,accenture.com,"1 Grand Canal Square, Dublin Docklands, Dublin...",NaN
41,Altisource,Luxembourg,LU,ameridex.com,Luxembourg,NaN
174,Criteo,France,FR,jail.com,"32 Rue Blanche, 75009 Paris, France",NaN
331,HERE Technologies,Netherlands,NL,here.com,"Kennedyplein 222, 5611 GL Eindhoven, Netherlands",NaN
578,SearchQuarry.com,Bulgaria,BG,searchquarry.com,"Sofia, Bulgaria",NaN
612,PwC,Spain,ES,pwc.com,"Paseo de la Castellana, 259B, 28029 Madrid, Spain",NaN
680,Semasio,Germany,DE,semasio.com,"Eppendorfer Weg 285, 20251 Hamburg, Germany",NaN
684,PwC,Spain,ES,signalframe.com,"Paseo de la Castellana, 259B, 28029 Madrid, Spain",NaN
689,Sirdata,France,FR,sirdata.com,"20 Rue Saint-Fiacre, 75002 Paris, France",NaN
808,yasni,Germany,DE,yasni.com,"Lyoner Str. 14, 60528 Frankfurt am Main, Germany",NaN
812,Zeotap,Germany,DE,zeotap.com,"Rosenstra√üe 18, 10178 Berlin, Germany",NaN

In [14]:
databrokers_df["Company Name"].shift(-1)

0          33 Mile Radius
1            Media Direct
2                     NaN
3           411locate.com
4              Mediaocean
              ...
900       RevenueBase Inc
901    Redbird Direct LLC
902                  None
903                  None
904                  None
Name: Company Name, Length: 905, dtype: object