In [62]:
import pandas as pd
import csv
import ast
from collections import OrderedDict
from pprint import pprint

In [66]:
categories_key = {
    1: "Gewerkschaftszugehörigkeit",
    2: "rassische und ethnische Herkunft",
    3: "Gesundheitsdaten",
    4: "Daten zum Sexualleben oder der sexuellen Orientierung",
    5: "religiöse oder weltanschauliche Überzeugungen",
    6: "Kinder",
    7: "Finanzstatus",
    8: "persönliche Schwächen",
    9: "politische Meinungen",
}

In [67]:
df = pd.read_csv("spicy_hits_eu_hand_filtered.csv")
df["countries"] = df["countries"].apply(lambda x: ast.literal_eval(x)[0])

# filter dataframe to only include sensitive data according to article 9 
# df = df[df.apply(lambda x: x["main_category"] not in (6,7,8), axis=1)]

df["main_category"] = df["main_category"].apply(lambda x: categories_key[x])

In [68]:
df["main_category"].value_counts()

main_category
Finanzstatus                                             992
Kinder                                                   844
religiöse oder weltanschauliche Überzeugungen             61
politische Meinungen                                      61
Gesundheitsdaten                                          56
persönliche Schwächen                                     40
Daten zum Sexualleben oder der sexuellen Orientierung     13
rassische und ethnische Herkunft                           3
Name: count, dtype: int64

In [69]:
df["countries"].value_counts()

countries
netherlands    377
germany        359
spain          341
france         325
sweden         189
denmark        165
italy          150
finland        107
belgium         12
greece          10
romania         10
austria          8
poland           7
portugal         5
hungary          2
croatia          2
slovakia         1
Name: count, dtype: int64

In [75]:
df_orig = pd.read_csv("xandr_segments_itemized.csv")

In [77]:
df_orig_filtered = df_orig[df_orig["id"].isin(df["id"].values)]

In [78]:
df_orig_filtered

,Unnamed: 0,provider_name,provider_id,id,name,name_list,data_source
6289,6301,Lotame,422,4027700,international_eu - austria parenting,"['international_eu', 'austria parenting']",lotame
6315,6327,Lotame,422,2151638,international_eu - belgium parenting,"['international_eu', 'belgium parenting']",lotame
6341,6353,Lotame,422,2151695,international_eu - denmark parenting,"['international_eu', 'denmark parenting']",lotame
6395,6407,Lotame,422,2154248,international_eu - finland parenting,"['international_eu', 'finland parenting']",lotame
6405,6417,Lotame,422,4072989,international_eu - france affluent households,"['international_eu', 'france affluent househol...",lotame
...,...,...,...,...,...,...,...
639977,648220,Semasio GmbH (Data Provider),2942,18047604,semasio - de: automotive - interest in luxury ...,"['semasio', 'de', 'automotive', 'interest in l...",NaN
639984,648227,Semasio GmbH (Data Provider),2942,18063139,semasio - de: fashion & shopping - interest in...,"['semasio', 'de', 'fashion & shopping', ""inter...",NaN
642103,650367,digitalAudience,11242,26569332,digitalaudience: sweden > spending intent > al...,"['digitalaudience', 'sweden', 'spending intent...",NaN
642104,650368,digitalAudience,11242,26569461,digitalaudience: sweden > spending intent > to...,"['digitalaudience', 'sweden', 'spending intent...",NaN
642119,650383,digitalAudience,11242,26570016,digitalaudience: sweden > spending intent > di...,"['digitalaudience', 'sweden', 'spending intent...",NaN

In [52]:
df_orig = df_orig.set_index("id")
df = df.set_index("id")

KeyError: "None of ['id'] are in the columns"

In [57]:
pd.concat([df_orig, df], axis=1, join="inner").reset_index(drop=True).value_counts("provider_name")

provider_name
Audiences by Oracle (BlueKai, Datalogix, AddThis)    449
Eyeota                                               331
GroupM NL - GH 6924                                  235
ZeoTap                                               221
Adsquare (Data Provider)                             204
Grapeshot                                            145
Lotame                                               124
Greenhouse Group B.V.                                 78
digitalAudience                                       70
Nielsen Marketing Cloud                               65
KBM Group                                             58
Audiens S.R.L.                                        19
Semasio GmbH (Data Provider)                          19
The Weather Channel, LLC                               9
LiveRamp Data Store                                    8
The ADEX GmbH                                          8
Tru Optik (CTV)                                        7
Weborama SA (Data Provider)                            6
Oracle Customs (1st, BlueKai, Datalogix, AddThis)      4
Datmean (Data Provider)                                3
Dstillery                                              2
Epsilon Data Management, LLC.                          1
Skydeo, Inc.                                           1
Semcasting (Data Provider)                             1
Digiseg                                                1
Retargetly                                             1
Name: count, dtype: int64

In [81]:
eu_countries = pd.read_csv("eu_countries.csv")
eu_countries = eu_countries.set_index("name")

,strings,codes,identifiers
name,,,
belgium,"['belgium', 'belgian', 'belgie']","['be', 'bel']","['xaxisbe', 'xaxisbel']"
bulgaria,"['bulgaria', 'bulgarian', 'bulgarija']","['bg', 'bgr']",[]
czechia,"['czechia', 'czech', 'cesko', 'ceska']","['cz', 'cze']",['xaxiscz']
denmark,"['denmark', 'danish', 'danmark']","['dk', 'dnk']","['xaxisdk', 'dk ndr']"
germany,"['germany', 'german', 'deutschland']","['de', 'deu', 'ger']","['xaxisde', 'de experian', 'de kantar']"
estonia,"['estonia', 'estonian', 'eesti']","['ee', 'est']",[]
ireland,"['ireland', 'irish']","['ie', 'irl']",[]
greece,"['greece', 'greek']","['el', 'grc']",[]
spain,"['spain', 'spanish']","['es', 'esp']","['xaxises', 'es experian', 'experian sp']"
france,"['france', 'french', 'francaise']","['fr', 'fra']","['xaxisfr', 'fr experian', 'experian fr', 'fr ..."
croatia,"['croatia', 'croatian']","['hr', 'hrv']",[]
italy,"['italy', 'italian']","['it', 'ita']","['xaxisit', 'experian it']"
cyprus,"['cyprus', 'cypriot']","['cy', 'cyp']",[]
latvia,"['latvia', 'latvian']","['lv', 'lva']",[]
lithuania,"['lithuania', 'lithuanian']","['lt', 'ltu']",[]
luxembourg,"['luxembourg', 'luxembourgian']","['lu', 'lux']",[]
hungary,"['hungary', 'hungarian']","['hu', 'hun']","['xaxishu', 'xaxishungar']"
malta,"['malta', 'maltese']","['mt', 'mlt']",[]
netherlands,"['netherland', 'dutch']","['nl', 'nld']","['xaxisnl', 'nl experian']"
austria,"['austria', 'austrian', 'osterreich']","['at', 'aut']",['xaxaustria']
poland,"['poland', 'polish']","['pl', 'pol']",['xaxispo']
portugal,"['portugal', 'portuguese']","['pt', 'prt']",['xaxispt']
romania,"['romania', 'romanian']","['ro', 'rou']",['xaxisro']
slovenia,"['slovenia', 'slovenian']","['si', 'svn']",[]
slovakia,"['slovakia', 'slovak']","['sk', 'svk']",[]
finland,"['finland', 'finnish']","['fi', 'fin']","['xaxisfi', 'fi ndr']"
sweden,"['sweden', 'swedish']","['se', 'swe']","['xaxisse', 'xaxissweden', 'se ndr']"
europe,"['europe', 'european']","['eu', 'eue']",['xaxisema']