In [4]:
import pandas as pd
import csv
import re
import ast 
import os
dirname = "spicy_words_manually_filtered"

In [16]:

df_list = []
for f in os.listdir(dirname):
    if not f.endswith(".csv"):
        continue
    # df_list.append(pd.read_excel(f, engine="odf"))
    df = pd.read_csv(os.path.join(dirname, f))
    df["countries"] = df["countries"].apply(ast.literal_eval)
    df_list.append(df)


df_unified = pd.concat(df_list)

In [19]:
duplicates = df_unified.duplicated(subset=["id"])

df_unified_filtered = df_unified[~duplicates]
df_unified_filtered

,Unnamed: 0,id,hit,name,countries
0,611,18206584,(?!environ)mental,custom segments > schober mobile data germany ...,[germany]
1,595,25039710,(?!environ)mental,gh-nl_gps_xandr_da_specific_demographic_mental...,[netherlands]
2,578,24958210,(?!environ)mental,gh-nl_gps_xandr_da_specific_demographic_mental...,[netherlands]
3,592,25039671,(?!environ)mental,gh-nl_gps_xandr_da_specific_demographic_mental...,[netherlands]
4,576,24958163,(?!environ)mental,gh-nl_gps_xandr_da_specific_demographic_mental...,[netherlands]
...,...,...,...,...,...
26,6,2137230,religio(n|ous),xaxisema_gs_religion,[europe]
27,33,11156468,spiritual,branded data > nordic data resources > denmark...,[denmark]
28,83,15731819,spiritual,eyeota - dk ndr - 08 interests - interested in...,[denmark]
29,94,19037820,spiritual,eyeota - fi ndr - insight360 - values360 - 3 s...,[finland]
30,87,18050935,spiritual,signals > it > lovers > spiritualita,[italy]

In [7]:
def filter_row(row):
    if re.search("peer39", row["name"]):
        return False
    
    countries = row["countries"]
    if "europe" in countries:
        countries.remove("europe")
    return len(countries) == 1

In [21]:

filter_results = df_unified_filtered.apply(filter_row, axis = 1)
df_inv = df_unified_filtered[~filter_results]
df = df_unified_filtered[filter_results]

In [23]:
df_inv.to_csv("foo.csv")

In [2]:
df = pd.read_csv("manually_filtered.csv")

In [8]:
lc = pd.read_csv(os.path.join("spicy_words_segmented", "late_comers_v2.csv"))
lc["countries"] = lc["countries"].apply(ast.literal_eval)

results2 = lc.apply(filter_row, axis=1)

lc_inv = lc[~results2]
lc_foo = lc[results2]

In [10]:
lc_inv.to_csv("foo.csv")

In [34]:
known_ids = df["id"].values

lc_no_dups = lc_foo.apply(lambda x: x["id"] not in known_ids, axis=1)

In [38]:
lc_foo[lc_no_dups].to_csv("late_comers_v2_processed.csv")

In [25]:
df["countries"].value_counts()

countries
[france]         317
[germany]        314
[spain]          274
[italy]          141
[denmark]        103
[sweden]          71
[netherlands]     45
[finland]         26
[portugal]        14
[belgium]         12
[greece]          11
[romania]         10
[poland]           8
[austria]          8
[hungary]          3
[slovakia]         2
[croatia]          2
[malta]            1
[ireland]          1
[bulgaria]         1
[czechia]          1
Name: count, dtype: int64

In [39]:
df = pd.read_csv("manually_filtered.csv")

In [41]:
df["Unnamed: 4"].value_counts()

Unnamed: 4
6.0     800
7.0     582
3.0      60
5.0      55
8.0      38
9.0      29
10.0     19
4.0      12
2.0       3
Name: count, dtype: int64

In [45]:
df[df["Unnamed: 4"] == 10]["name"].values

array(['adsquare data alliance > de > covid-19 audiences (corona pandemic) > covid-19 personal finance  > insurance seekers',
       'adsquare data alliance > de > interests > personal finance > insurance seekers',
       'adsquare data alliance > es > interests > business and finance > insurance seekers',
       'adsquare data alliance > fr > interests > personal finance > insurance seekers',
       'adsquare data alliance > it > interests > business and finance > insurance seekers',
       'az direct > de > az target groups > insurance > best ager',
       'az direct > de > az target groups > insurance > families',
       'az direct > de > az target groups > insurance > individualistic about risk-taking',
       'az direct > de > az target groups > insurance > job starter',
       'az direct > de > az target groups > insurance > social security-oriented people',
       'kbm group - germany - microm data | microm geo milieus | liberal intellectual milieu',
       'international_eu - france military',
       'international_eu - germany military',
       'international_eu - italy military',
       'international_eu - spain military',
       'oracle country-specific audiences > france > b2b > firmographic > industry > government > military',
       'oracle country-specific audiences > germany > b2b > firmographic > industry > government > military',
       'oracle country-specific audiences > italy > b2b > firmographic > industry > government > military',
       'oracle country-specific audiences > spain > b2b > firmographic > industry > government > military'],
      dtype=object)